.story-form__wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto 50px auto;
    padding-left: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.story-form__wrapper h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px 10px #666;
}

.story-form__wrapper h1 svg {
    width: 45px;
    height: 45px;
}

.story-form__wrapper h1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.story-form__wrapper h1::selection {
    background-color: #deb887;
    color: #fff;
}


.story-form__container .multiple-input__wrapper {
    display: flex;
    gap: 10px;
}

.story-form__container .input__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}

.story-form__container .input__wrapper textarea {
    width: 100%;
    min-height: 30vh;
    resize: vertical;
    padding: 10px 17px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #666;
    outline: none;
    border: 1px solid #708090;
    border-radius: 5px;
    line-height: 4vh;
    max-height: 60vh;
    box-shadow: 0 0 1px #111, 4px 4px 1px #deb887;
    transition: .220s;
}

.story-form__container .input__wrapper textarea.error,
.story-form__container .multiple-input__wrapper select.error {
    border-color: #dc143c;
    box-shadow: 0 0 1px #dc143c, 4px 4px 1px #dc143c;

}

.story-form__container .input__wrapper .error-info {
    width: max-content;
    color: brown;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    font-weight: 700;
    border: none;
    border-radius: 0;
    margin: 0;
}

.story-form__container .input__wrapper textarea::selection {
    background-color: #deb887;
    color: #fff;
    text-shadow: 0 0 2px #111;
}

.story-form__container .input__wrapper textarea::placeholder {
    color: #999;
}

.story-form__container .input__wrapper textarea:focus {
    box-shadow: 0 0 10px #111, 4px 4px 5px #6e5432;
    border-color: #111;
}

.story-form__container .input__wrapper select {
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px #6e5432, 4px 4px 1px #deb887;
    outline: none;
}

.story-form__container .input__wrapper label {
    width: 100%;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #708090;
    user-select: none;
}

.input__wrapper label span {
    width: 30px;
    height: 30px;
    display: inline-grid;
    place-content: center;
    background-color: #deb887;
    color: #fff;
    text-shadow: 1px 1px 1px #deb887;
    padding: 5px;
    border-radius: 50%;
}

#generate-button {
    width: 100%;
    max-width: 300px;
    align-self: flex-end;
    height: 50px;
    margin-top: 3vh;
    background-color: #deb887;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 1px #6e5432;
    cursor: pointer;
    transition: .250s;
}

.generate-button-diabled {
    background-color: #6e5432;
    color: #ccc;
    cursor: wait;
}

#generate-button:hover {
    box-shadow: 0px 0px 2px #fff;
    color: #eee;
}

@media (max-width: 1200px) {
    .story-form__container .multiple-input__wrapper {
        flex-direction: column;
    }


    .story-form__wrapper {
        padding: 10px;
    }

    #generate-button {
        max-width: 100%;
        height: 65px;
    }
}